CompileFlags:
  CompilationDatabase: build
  Remove:
    - "-m*"
    - "-f*"
    - "-Wno-unknown-warning-option"
Index:
  Background: Build
Diagnostics:
  Suppress:
    - pp_file_not_found
  ClangTidy:
    Add:
      - readability-*
      - bugprone-*
      - performance-*
    Remove:
      - readability-magic-numbers
      - readability-isolate-declaration
      - readability-function-cognitive-complexity
      - readability-identifier-length
      - readability-else-after-return
      - readability-math-missing-parentheses
